.app-menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0f3f6;
}
.btn-menu-cantidad {
    width: 100%;
    height: 100%;
}
.input-menu-cantidad {
    font-size: 24px;
}